{% extends 'veterinariaapp/baseAdministrador.html' %}
{% load static %}
{%block contenido %}
<div class="container" id="formulario">
	{% if messages %}
		{% for mensaje in messages%}
			<h2>{{ mensaje }}</h2>
		{% endfor %}
	{% endif %}

	<form method="POST" id="productosform">
        {% csrf_token %}

        <div class="form-row ">
			<div class="form-group col-md-12">
				<div class="form-group col-md-6">
					<label>Referencia</label>
					{{ form.referencia }}
				</div>
                <div class="form-group col-md-6">
                    <label>Descripción</label>
					{{ form.descripcion }}
                </div>
            </div>
        </div>

         <div class="form-row ">
			<div class="form-group col-md-12">
				<div class="form-group col-md-4">
					<label>Marca</label>
					{{ form.marca }}
				</div>
                <div class="form-group col-md-4">
                    <label>Precio</label>
					{{ form.precio }}
                </div>
                <div class="form-group col-md-4">
                    <label>Imagen</label>
					{{ form.imagen }}
                </div>
            </div>
        </div>

        <div class="form-row ">
			<div class="form-group col-md-12">
				<center>
						<a class="btn " id="regresa" href="{%url 'url_productos_list'%}">Regresar</a>
						<button type="submit" class="input-boton center" onclick="funciones_validarpassword()">Guardar</button>
                </center>
            </div>
        </div>


    </form>



</div>



    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


	<!-- ALERTAS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/alertas.js' %}?version=Math.random();"></script>
    <script src="{% static 'js/configuracionDatatables.js' %}?version2=Math.random();"></script>
	<script src="{% static 'js/funciones.js' %}?version3=Math.random();"></script>

{% endblock %}
